.icon-48-cadastrodeempresas {
      background-image: url(../images/l_cadastrodeempresas.png);
      padding-left:60px!important;
}

.icon-48-cadastrodeempresa {
      background-image: url(../images/l_cadastrodeempresas.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}